<div class="header-nightsky">
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fa fa-arrow-circle-o-left"></i> {{headerText}} <i class="fa fa-arrow-circle-o-right"></i></a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>