<html>

<head>
    <base href="/">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/homebackground.css">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>

<body>

    <app>Loading...</app>

    <script src="dist/app.bundle.js"></script>
</body>

</html>