<aside class="sidebar-left-collapse">
		<div class="sidebar-links">

			<div class="link-blue selected" nav-link-id="10" (click)="onSelect('10')">

				<a href="#/landing">
					<i class="fa fa-certificate"></i>NEW IN
				</a>

				<ul class="sub-links">
					<li><a href="#/landing" nav-link-id="11">Man</a></li>
					<li><a href="#/landing" nav-link-id="12">Woman</a></li>
					<li><a href="#/landing" nav-link-id="13">Kids</a></li>
					<li><a href="#/landing" nav-link-id="14">Campaign</a></li>
				</ul>

			</div>

			<div class="link-red" nav-link-id="20" (click)="onSelect('20')">

				<a href="#/landing">
					<i class="fa fa-male"></i>MAN
				</a>

				<ul class="sub-links">
					<li><a href="#/landing" nav-link-id="21">Shirts</a></li>
					<li><a href="#/landing" nav-link-id="22">Tees</a></li>
					<li><a href="#/landing" nav-link-id="23">Pants</a></li>
					<li><a href="#/landing" nav-link-id="24">Accessories</a></li>
				</ul>

			</div>

			<div class="link-yellow" nav-link-id="30" (click)="onSelect('30')">

				<a href="#/landing">
					<i class="fa fa-female"></i>WOMAN
				</a>

				<ul class="sub-links">
					<li><a href="#/landing">Dresses</a></li>
					<li><a href="#/landing">Tops</a></li>
					<li><a href="#/landing">Pants & Skirts</a></li>
					<li><a href="#/landing">Accessories</a></li>
				</ul>

			</div>

			<div class="link-green" nav-link-id="40" (click)="onSelect('40')">

				<a href="#/landing">
					<i class="fa fa-child"></i>KIDS
				</a>

				<ul class="sub-links">
					<li><a href="#/landing">Girl</a></li>
					<li><a href="#/landing">Boy</a></li>
					<li><a href="#/landing">Toddler</a></li>
					<li><a href="#/landing">Baby</a></li>
				</ul>

			</div>

			<div class="link-green" nav-link-id="50" (click)="onSelect('50')">

				<a href="#/landing">
					<i class="fa fa-flash"></i>SALE
				</a>

				<ul class="sub-links">
					<li><a href="#/landing">Man</a></li>
					<li><a href="#/landing">Woman</a></li>
					<li><a href="#/landing">Kids</a></li>
				</ul>

			</div>

		</div>

</aside>